@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #ffffff;
}

html,
body {
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--foreground);
}
/* ===== ESTRELAS MÍSTICAS ===== */

.stars {
  position: absolute;
  inset: 0;
  pointer-events: none;
  overflow: hidden;
  z-index: 1;
}

.star {
  position: absolute;
  width: 4px;
  height: 4px;
  background: #e7c96f;
  border-radius: 999px;
  box-shadow: 0 0 10px #e7c96f;
  animation: floatStar linear infinite;
}

@keyframes floatStar {
  from {
    transform: translateY(100vh);
    opacity: 0;
  }

  60% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  to {
    transform: translateY(-120px);
    opacity: 0;
  }
}